body {
	  background-color: black;
}
h1, h2 {
	color: #783201;
	text-align: center;
}

 .jumbotron{
 	margin-top: 2em;
	background-color: green;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}
p {
	margin-top: 1em;
	color: white;
	font-size: 2em;
	font-weight: bold;
}
.choice:hover{
	background-color: magenta;
}
.choice{
	margin: 0 auto;
	width: 30%;
	border-radius: 20px;
	text-align: center;
}

 #letsGo {
	margin-top: 2em;
} 
