body {
	   /*background-color: black; */
	  /* background-image: url(../images/wallpaper1.jpg); */
	  background-image: url("https://st.hzcdn.com/simgs/8ec15333065f1c8b_4-5777/transitional-wallpaper.jpg");
}
h1, h2 {
	color: #783201;
	text-align: center;
	font-weight: bold;
}

 .jumbotron{
 	margin-top: 2em;
	background-color: #A5CB74;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
}
p {
	margin-top: 1em;
	color: brown;
	font-size: 2em;
	font-weight: bolder;
}
.choice:hover{
	background-color: magenta;
}
.choice{
	margin: 0 auto;
	width: 30%;
	border-radius: 20px;
	text-align: center;
}

 #letsGo {
	margin-top: 2em;
}
